{% set nbMessages = messages|length %}
{% set hourFormat = app.request.locale == 'fr' ? 'H\\hm' : 'h:i A' %}
    {% if isMini %}
        <div id="desktop-widget-pager" class="slrn-widget-forum-mini">
            <h3 class="slrn-widget-forum__title">{{ 'last_messages_title'|trans({}, 'lesson-widget') }}</h3>
            <ul class="list-group slrn-list-group">
                {% if nbMessages > 0 %}
                    {% for message in messages %}
                        <li class="list-group-item slrn-list-group-item">
                            <p class="text-muted slrn-message-header">
                                 <a class="slrn-list-group-link" href="{{ _path('claro_forum_show_message', {'message': message.getId() }) }}">
                                {{ 'forum_last_message_owner'|trans({}, 'lesson-widget') }} {{ message.getCreator().getFirstName() }} {{ message.getCreator().getLastName() }}, {{'on'|trans({}, 'forum')}} {{ message.getCreationDate()|localizeddate( "long", "none", app.request.locale, null, 'd MMMM Y' ) ~ ' '  ~ 'at'|trans({}, 'forum') ~ ' ' ~  message.getCreationDate() | date(hourFormat)}}</p>
                                </a>
                            <div class="list-group-item-text">
                                <p>{{ message.getContent() | removeTag('blockquote') | striptags | textTruncate( 25, ' [...]' ) | raw  }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    {{ 'no_forum_widget_message'|trans({}, 'widget') }}
                {% endif %}
            </ul>
        </div>
    {% else %}
        <div id="desktop-widget-pager" class="slrn-widget-forum">
        {% if app.session.get('solerni_discuter_url') %}
            <a class="slrn-widget-forum__afficher-tout" href="{{ app.session.get('solerni_discuter_url') }}" >Afficher tout</a>
        {% endif %}
            <h3 class="slrn-widget-forum__title">{{ 'last_messages_title'|trans({}, 'lesson-widget') }}</h3>
            <ul class="list-group slrn-list-group">
                {% if nbMessages > 0 %}
                    {% for message in messages %}
                        {% if message.getContent()|default %}
                            <li class="list-group-item slrn-list-group-item">
                                <p class="text-muted slrn-message-header">{{ 'forum_last_message_owner'|trans({}, 'lesson-widget') }} {{ message.getCreator().getFirstName() }} {{ message.getCreator().getLastName() }}, {{'on'|trans({}, 'forum')}} {{ message.getCreationDate()|localizeddate( "long", "none", app.request.locale, null, 'd MMMM Y' ) ~ ' '  ~ 'at'|trans({}, 'forum') ~ ' ' ~  message.getCreationDate() | date(hourFormat)}}</p>
                                <div class="list-group-item-text">
                                    <p><a class="slrn-list-group-link" href="{{ _path('claro_forum_show_message', {'message': message.getId() }) }}">
                                        {{ message.getContent() | removeTag('blockquote') | striptags | textTruncate( 25, ' [...]' ) | raw  }}
                                    </a></p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if not isMini %}
                    <a class="btn btn-success slrn-btn--green" href="{{ _path('claro_forum_categories', {'forum' : forum.getId() }) }}">
                       {{ 'i_reply'|trans({}, 'lesson-widget') }}
                    </a>
                    {% endif%}
                {% else %}
                    {{ 'no_forum_widget_message'|trans({}, 'widget') }}
                {% endif %}
            </ul>
        </div>
    {%endif%}