<div class="slrn-like-bar">
    <span id="number-likes-{{message.getId()}}" class="slrn-like-bar__elem slrn-like-num">{{ numberLikes }}</span>
    {% set likeLink = path('claro_forum_message_vote', {'weight': 1, 'message': message.getId()}) %}
    {% set neutrallikeLink = path('claro_forum_message_vote', {'weight': 0, 'message': message.getId()}) %}
    {% if userWeightValue == 1 %}       
        {% set class = 'active' %}
    {% endif %}
    <a class="js-message-like slrn-like-bar__elem slrn-like-thumb{% if class|default %} {{class}}{% endif %}"
       href="#"
       data-vote-number="number-likes-{{message.getId()}}"
       data-vote-user="{{ userWeightValue }}"
       data-vote-like="{{ likeLink }}"
       data-vote-neutral="{{ neutrallikeLink }}">
        + <i class="icon-thumbs-up icon-thumb"></i>
    </a>
</div>
