{% macro renderPager(subjectId, pager, max, order) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_forum_messages',
                'routeParams': {'subject': subjectId, 'max': max, 'order': order},
                'next_message': '>',
                'prev_message': '<'
            }
        )
    }}
{% endmacro %}

{% macro renderOptions(options, selectedOption) %}
    {% for option in options %}
        <option {{ option == selectedOption ? 'selected' : '' }}>{{ option }}</option>
    {% endfor %}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import renderOptions %}

{% set layout = "ClarolineForumBundle::layout.html.twig" %}
{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() ~ '(' ~ subject.getTitle() ~ ')' ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}
    
{% block forum_breadcrumb %}
    <ul class="slrn-breadcrumb">
        <li><a href="{{ path('claro_forum_categories', { 'forum': category.getForum().getId() }) }}">Tous les thèmes</a></li>
        <li><a href="{{ path('claro_forum_subjects', { 'category': category.getId() }) }}">Tous les sujets du thème : {{ category.getName() }}</a></li>
        <li class="active">{{ subject.getTitle() }}</li>
    </ul>
{% endblock %}

{% block forum_content %}
    <div class="panel-heading">
        <a class="slrn-read-faq pink_link" href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">{{ 'read_faq'|trans({}, 'platform') }}</a>
        <h3 class="slrn-panel-title">{{ subject.getTitle() }}</h3>
        <div class="slrn-name-date">
          {{ 'started_by' | trans({}, 'forum') }} 
          <b>
          <a href="{{path('claro_public_profile_view', {'publicUrl':subject.getCreator().getPublicUrl()})}}">
              {{ subject.getCreator().getFirstName() }} {{ subject.getCreator().getLastName() }}
          </a>
          </b>
          {{ subject.getCreationDate() | widgetForumDate(app.request.locale)  }}
        </div>
    </div>
    {% if firstMessage|default %}
        <table id="messages_table_unique" class="slrn-forum-table table table-condensed">
            <tbody id='table-unique-message-body'>
                <tr class="row-message row-message-unique">
                    <td class="slrn-forum-td slrn-forum-td--avatar">
                        <div class="text-center">
                        {% if firstMessage.getCreator().getPicture() != "" %}
                             <img src="{{ image('uploads/pictures/' ~ firstMessage.getCreator().getPicture()).scaleResize(100, 100) }}" class="slrn-avatar-image">
                         {% else %}
                             <i class="icon-user slrn-avatar-image"></i>
                         {% endif %}
                         </div>
                         <div class="text-center slrn-message-username">
                            <a href="{{path('claro_public_profile_view', {'publicUrl':firstMessage.getCreator().getPublicUrl()})}}">
                               {{ firstMessage.getCreator().getFirstName() }} {{ firstMessage.getCreator().getLastName() }}
                            </a>
                         </div>
                         <div class="text-center slrn-message-horodatage">
                             {{ firstMessage.getCreationDate()|intl_date_format() }}
                         </div>
                     </td>
                    <td class="slrn-forum-td slrn-message-content">
                        <div class="slrn-message-content_html">{{ firstMessage.getContent()|raw }}</p></div>
                        <p class="text-muted slrn-message-date">{{ firstMessage.getCreationDate()| timeAgo }}
                            {% if firstMessage.getlastEditedBy()|default %}
                               <i>( message 
                                   {{'edited_by'|trans({}, 'forum')}}
                                   <a href="{{path('claro_public_profile_view', {'publicUrl':firstMessage.getlastEditedBy().getPublicUrl()})}}">
                                       {{firstMessage.getlastEditedBy().getFirstName()}} {{firstMessage.getlastEditedBy().getLastName()}}</a>
                                   {{'edited_on'|trans({}, 'forum')}}
                                   {{ firstMessage.getUpdated()|intl_date_format() }}
                               )</i>
                           {% endif %}
                        </p>
                    </td>
                </tr>
                {# edition tools #}
                {% if isModerator or app.security.token.user == firstMessage.getCreator() %}
                    <tr class="slrn-forum-message-edition">
                        <td colspan="2" class="slrn-forum-td">
                            <div class="pull-right clearfix">
                            <a class="btn btn-default" href="{{ path('claro_forum_edit_message_form', {'message': firstMessage.getId()}) }}">
                                <i class="icon-pencil"></i> {{ 'edit'|trans({}, 'platform') }}
                            </a>
                            {% if isModerator %}
                                <a id="move-message" class="btn btn-default" href="{{ path('claro_message_move_form', {'message': firstMessage.getId()}) }}">
                                    <i class="icon-arrow-right"></i> {{ 'move'|trans({}, 'platform') }}
                                </a>
                                <a id="delete-message" class="btn btn-default" href="{{ path('claro_forum_delete_message', {'message': firstMessage.getId()}) }}">
                                    <i class="icon-remove"></i> {{ 'delete'|trans({}, 'platform') }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                 {% endif %}
             </tbody>
         </table>
    {% endif %}
    <div class="panel-body panel-body--forum">
        {% if canAnswer %}
            <div class="tiny_editor">
                <textarea class="forum-answer claroline-tiny-mce hide"></textarea>
                {{ form_widget(form._token) }}
            </div>
        {% endif %}
        <div class="panel-footer clearfix slrn-forum__response">
            <div class="pull-right">
                {% if canAnswer %}
                    <a class="btn btn-primary">
                       {{ 'post_my_message' | trans({}, 'forum') }}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="slrn-forum-meta">
            <span class="slrn-forum-num-messages">{{ pager.getNbResults() }} messages</span>
        </div>
        <div class="slrn-forum-options-pagination slrn-forum-options-pagination--top">
            {% set options = {
                    'ASC': { 'url': path('claro_forum_messages', {'subject': subject.getId(), 'page': page , 'max': max, 'order': "ASC" }), 'label': 'most_ancient_order' },
                    'DESC': { 'url': path('claro_forum_messages', {'subject': subject.getId(), 'page': page , 'max': max, 'order': "DESC" }), 'label': 'most_recent_order' },
                    'POP': { 'url': path('claro_forum_messages', {'subject': subject.getId(), 'page': page , 'max': max, 'order': "POP" }), 'label': 'most_popular_order' }
            } %}
            <span class="slrn-select__label">{{'orderby'|trans({}, 'forum')}}</span>
            <ul class="slrn-select">
                <li class="slrn-selected slrn-select__item dropdown">
                    {% for key, option in options if key == order %}
                    <span data-toggle="dropdown" class="slrn-selected__inner">{{option.label|trans({}, 'forum')}}</span><i class="caret"></i>
                    {% endfor %}
                    <ul class="slrn-select slrn-sub-select dropdown-menu">
                    {% for key, option in options if key != order %}
                        <li class="slrn-select__item slrn-sub-select__item"><a href="{{option.url}}">{{option.label|trans({}, 'forum')}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="slrn-posts-per-page">
                <span class="slrn-select__label">{{'show'|trans({}, 'forum')}}</span>
                {% set postPerPage = [20,50,100, 'tout'] %}
                {% for number in postPerPage %}
                    <a class="slrn-posts-per-page__item{% if number == max %} slrn-posts-per-page__item--active{% endif %}" 
                       href="{{ path('claro_forum_messages', {'subject': subject.getId(), 'page': page , 'max': number, 'order': order }) }}"
                       title="Afficher {{number}} résultats par page">
                        {{number}}</a>
                {% endfor %}
            </div>
            {# generate a div.pagination element#}
            {{ renderPager(subject.getId(), pager, max, order) }}
        </div>
        <table id="messages_table" class="slrn-forum-table table table-condensed">
            <tbody id='table-message-body'>
                <tr>
                    <td>
                        {% for messageArray in pager.currentPageResults %}
                        {% set message, nbLikes, userWeightValue, userNbPosts = messageArray['message'], messageArray['nbLikes'], messageArray['hasVoted'], messageArray['nbCreatorMessages'] %}
                        <a name="message_{{ message.getId() }}"></a>
                        <table id="msg_{{ message.getId() }}"  class="slrn-table-message">
                            <tr class="row-message">
                                <td class="slrn-forum-td slrn-forum-td--avatar">
                                    <div class="text-center">
                                        {% if message.getCreator().getPicture() != "" %}
                                        <img src="{{ image('uploads/pictures/' ~ message.getCreator().getPicture()).scaleResize(100, 100) }}" class="slrn-avatar-image">
                                    {% else %}
                                        <i class="icon-user slrn-avatar-image"></i>
                                    {% endif %}
                                    </div>
                                    <div class="text-center slrn-message-username">
                                    <a href="{{path('claro_public_profile_view', {'publicUrl':message.getCreator().getPublicUrl()})}}">
                                       {{ message.getCreator().getFirstName() }} {{ message.getCreator().getLastName() }}
                                    </a>
                                    </div>
                                    <div class="text-center slrn-message-horodatage">
                                        {{ message.getCreationDate()|intl_date_format() }}
                                    </div>
                                    <div class="text-center slrn-message-user-nb-messages">
                                        {% set plural = '' %}
                                        {% if userNbPosts > 1 %}{% set plural = 's' %}{% endif %}
                                        <p>{{ 'posts_by_user'|trans({'%nb%': userNbPosts, '%plural%': plural}, 'forum') }}</p>
                                    </div>
                                </td>
                                <td class="slrn-forum-td slrn-message-content">
                                    <div class="slrn-message-content_html">{{ message.getContent()|raw }}</p></div>
                                    <p class="text-muted slrn-message-date">{{ message.getCreationDate()| timeAgo }}
                                         {% if message.getlastEditedBy()|default %}
                                            <i>( message 
                                                {{'edited_by'|trans({}, 'forum')}}
                                                <a href="{{path('claro_public_profile_view', {'publicUrl':message.getlastEditedBy().getPublicUrl()})}}">
                                                    {{message.getlastEditedBy().getFirstName()}} {{message.getlastEditedBy().getLastName()}}</a>
                                                {{'edited_on'|trans({}, 'forum')}}
                                                {{ message.getUpdated()|intl_date_format() }}
                                            )</i>
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                            <tr class="row-message">
                                <td class="slrn-forum-td">&nbsp;</td>
                                <td class="slrn-forum-td slrn-forum-td--tools">
                                    <div class="slrn-like-bar col-md-4">
                                        <span id="number-likes-{{ message.getId() }}" class="slrn-like-bar__elem slrn-like-num">{{ nbLikes }}</span>
                                        {% set likeLink = path('claro_forum_message_vote', {'weight': 1, 'message': message.getId()}) %}
                                        {% set neutrallikeLink = path('claro_forum_message_vote', {'weight': 0, 'message': message.getId()}) %}
                                        {% set tooltipVote = 'tooltip_vote'|trans({}, 'forum') %}
                                        {% set tooltipUnvote = 'tooltip_unvote'|trans({}, 'forum') %}
                                        <a class="js-message-like slrn-like-bar__elem slrn-like-thumb{% if userWeightValue == 1 %} active{% endif %}"
                                           data-toggle="tooltip"
                                           title="{% if userWeightValue == 1 %}{{ tooltipUnvote }}{% else %}{{tooltipVote}}{% endif %}"
                                           data-original-title=""
                                           data-unvote-title="{{ tooltipUnvote }}"
                                           data-vote-title="{{ tooltipVote }}"
                                           data-vote-number="number-likes-{{message.getId()}}"
                                           data-vote-user="{{ userWeightValue }}"
                                           data-vote-like="{{ likeLink }}"
                                           data-vote-neutral="{{ neutrallikeLink }}">
                                           + <i class="icon-thumbs-up icon-thumb"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a data-target="msg_{{ message.getId() }}" class="js-trigger-citation forum_citation_link pink_link" href="#">{{'citation_answer'|trans({}, 'forum') }}</a>
                                    </div>
                                    <div class="col-md-4 back-top-top-cell">
                                        <a data-toggle='tooltip' title="{{'move_to_top'|trans({}, 'forum')}}" href="#" class="forum-to-top js-forum-to-top"><i class="icon-long-arrow-up"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {# edition tools #}
                            {% if isModerator or app.security.token.user == message.getCreator() %}
                                <tr class="slrn-forum-message-edition">
                                    <td colspan="2" class="slrn-forum-td">
                                        <div class="pull-right clearfix">
                                        <a class="btn btn-default" href="{{ path('claro_forum_edit_message_form', {'message': message.getId()}) }}">
                                            <i class="icon-pencil"></i> {{ 'edit'|trans({}, 'platform') }}
                                        </a>
                                        {% if isModerator %}
                                            <a id="move-message" class="btn btn-default" href="{{ path('claro_message_move_form', {'message': message.getId()}) }}">
                                                <i class="icon-arrow-right"></i> {{ 'move'|trans({}, 'platform') }}
                                            </a>
                                            <a id="delete-message" class="btn btn-default" href="{{ path('claro_forum_delete_message', {'message': message.getId()}) }}">
                                                <i class="icon-remove"></i> {{ 'delete'|trans({}, 'platform') }}
                                            </a>
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                             {% endif %}
                        </table>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="slrn-forum-options-pagination slrn-forum-options-pagination--bottom">
            {# generate a div.pagination element#}
            {{ renderPager(subject.getId(), pager, max, order) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if canAnswer %}
        <script>
            (function () {
                'use strict';
                //id="forum_message_form_content" name="forum_message_form[content]"
                $('body').on('click', '.panel-footer .btn-primary', function () {
                    var content = $('textarea.claroline-tiny-mce').val();
                    var token = $('#forum_message_form__token').val();

                    if (content != undefined && content != '') {
                        tinymce.claroline.disableBeforeUnload = true;
                        var home = window.Claroline.Home;
                        var modal = window.Claroline.Modal;
                        $.post(home.path + 'forum/create/message/{{ subject.getId() }}',
                            {
                                'forum_message_form[_token]': token,
                                'forum_message_form[content]': content
                            }
                        )
                        .done(
                            function () {
                                window.location.reload();
                            }
                        )
                        .error(
                            function () {
                                modal.error();
                            }
                        );
                    }
                });
            })();
        </script>
    {% endif %}
    {% if isModerator %}
        <script>
            function createValidationBox() {
                var html = Twig.render(
                    ModalWindow,
                    {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'confirm-modal', 'body': Twig.render(removeMessageConfirm, {'nbItems': 1})}
                );
                $('body').append(html);
            }

            createValidationBox();
            var tmpRoute = '';
            var tmpEl = undefined;

            $('body').on('click', '#delete-message', function(event) {
                event.preventDefault();
                $('#confirm-modal').modal('show');
                tmpRoute = event.currentTarget.href;
                tmpEl = event.currentTarget;
            });

            $('body').on('click', '#modal-valid-button', function(event) {
                $('#confirm-modal').modal('hide');
                $.ajax({
                    url: tmpRoute,
                    success: function () {
                        $(tmpEl)[0].parentElement.parentElement.parentElement.remove();
                    }
                });
            });
            $('#max-select').on('change', function () {
                window.location.href = Routing.generate(
                    'claro_forum_messages',
                    {'subject': {{ subject.getId()}}, 'max': $(this).val()}
                );
            });
        </script>
    {% endif %}
    <script>
        jQuery( document ).ready(function() {
            
            jQuery.urlParam = function(name) {
                var results = new RegExp('[\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
                if ( results ) {
                    return results[1];
                } else {
                    return false;
                }
            }
            
            if ( jQuery.urlParam('messageId') ) {
                
                destination = jQuery('#msg_'  + jQuery.urlParam('messageId') ).addClass('target-msg').position().top + 40;
                jQuery('html,body').animate({scrollTop: destination}, 'fast');
            }
            
            console.log(jQuery.urlParam('messageId'));
            
            function updateIHM( jqXHR, textStatus, element ) {
                jQuery( '#' + element.data( 'vote-number' ) ).html( jqXHR.numberLikes );
                
                if ( jqXHR.hasVoted == 1 ) {
                    element
                            .addClass( 'active' )
                            .tooltip('hide')
                            .attr('data-original-title', element.data('unvote-title'))
                            .tooltip('fixTitle')
                            //.tooltip('show')
                } else {
                    element
                            .removeClass( 'active' )
                            .tooltip('hide')
                            .attr('data-original-title', element.data('vote-title'))
                            .tooltip('fixTitle')
                            //.tooltip('show')
                }
            }
            
            function displayError(jqXHR, textStatus, error) {
                alert( 'Votre vote n\'a pas pu être pris en compte : ' + error );
                return false;
            }
            
            function updateDOM(jqXHR, textStatus, element, userVote) {
                userVote = ( userVote ==  1 ) ? 0 : 1;
                element.data( 'vote-user', userVote );
             }
            
            function AjaxVote( element, actionUrl, userVote ) {
                jQuery.ajax({
                    url: actionUrl,
                    dataType: 'json',
                    actionElement: element,
                    userVote: userVote,
                    success: function( jqXHR, textStatus ) { updateIHM( jqXHR, textStatus, this.actionElement ) },
                    error: function( jqXHR, textStatus, error ) { displayError( jqXHR, textStatus, error ) },
                    complete: function( jqXHR, textStatus ) { updateDOM( jqXHR, textStatus, this.actionElement, this.userVote ) }
                });
            }
            
            jQuery( '.js-message-like' ).on( 'click', function(e) {
                e.preventDefault();
                userVote = jQuery(this).data( 'vote-user' );
                
                if ( userVote == 1 ) {
                    actionUrl = jQuery(this).data( 'vote-neutral' );
                }
                
                if ( ! userVote || userVote == 0 ) {
                    actionUrl = jQuery(this).data( 'vote-like' );
                }
                
                AjaxVote( jQuery(this), actionUrl, userVote );
                
            });
            
            jQuery('.js-trigger-citation').on ('click', function() {
                targetTiny = tinymce.editors[0]; 
                citation = '<blockquote><i>' + jQuery( '#' + jQuery(this).data('target') + ' .slrn-message-username' ).html() + ' a écrit:</i>' + jQuery( '#' + jQuery(this).data('target') + ' .slrn-message-content_html' ).html() + '</blockquote><div id="focus">&nbsp;</div>';
                targetTiny.execCommand('mceInsertRawHTML', false, citation );
                destination = jQuery('.tiny_editor').position().top - 40;
                jQuery('html,body').animate({scrollTop: destination}, 'fast');
                node = targetTiny.dom.select('div#focus');
                targetTiny.selection.select(node[0]);
                targetTiny.selection.collapse(false);
            });
            
            jQuery('.js-forum-to-top').on ('click', function(e) {
                e.preventDefault();
                jQuery('html,body').animate({scrollTop: 0}, 'fast');
            });
        });
    </script>
{% endblock %}

